@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
}

.Nav {
  height: 8vh;
  max-height: 8vh;
  min-height: 8vh;
}

.dropdown-item:active {
  background-color: #d2e4d5 !important;
}

.dropdown-item:hover {
  background-color: #d2e4d5 !important;
  cursor: pointer;
}

.breadcrumbs-two {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-two > li {
  float: left;
  width: 20%;
}

.breadcrumbs-two > li > a {
  display: flex;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  color: #FFF;
  position: relative;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 1.3;
  font-size: 15px;
}

.breadcrumbs-two > li > a > span {
  display: inline-block;
  max-width: 100%;
  width: 150px;
  margin: auto;
  position: relative;
  color: white;
  font-size: 1.25rem;
  /* top: 20px; */
}

.breadcrumbs-two > li > a::before {
  content: "";
  position: absolute;
  top: 68%;
  margin-top: -41px;
  border-width: 30px 0 30px 30px;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -30px;
}

.breadcrumbs-two > li > a::after {
  content: "";
  position: absolute;
  top: 67%;
  margin-top: -40px;
  border-top: 40px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #ddd;
  right: -30px;
}

.bread1 > a {
  background-color: #b9e473;
}

.bread1 > a::before {
  border-color: #b9e473 #b9e473 #b9e473 transparent !important;
}

.bread1 > a::after {
  border-color: transparent #b9e473 transparent #b9e473 !important;
}

.bread2 > a {
  background-color: #9fdd80;
}

.bread2 > a::before {
  border-color: #9fdd80 #9fdd80 #9fdd80 transparent !important;
}

.bread2 > a::after {
  border-color: transparent #9fdd80 transparent #9fdd80 !important;
}

.bread3 > a {
  background-color: #7fd48f;
}

.bread3 > a::before {
  border-color: #7fd48f #7fd48f #7fd48f transparent !important;
}

.bread3 > a::after {
  border-color: transparent #7fd48f transparent #7fd48f !important;
}

.bread4 > a {
    background-color: #63cb9d;
}

.bread4 > a::before {
  border-color: #63cb9d #63cb9d #63cb9d transparent !important;
}

.bread4 > a::after {
  border-color: transparent #1f7171 transparent #1f7171 !important;
}

.bread5 > a {
  background-color: #3ec3ab;
}

.bread5 > a::before {
  border-color: #3ec3ab #3ec3ab #3ec3ab transparent !important;
}

.bread1 > a::before {
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-left: 0 !important;
}

.bread5 > a::after {
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-left: 0 !important;
}

.text-revo {
  color: #0e594f !important;
}

.text-revo-light {
  color: #698b87 !important;
}

.btn-revo {
  color: #536a28 !important;
  background-color: #bde570 !important;
  border-color: #bde570 !important;
}

.btn-revo:hover, .btn-revo:active, .btn-revo:focus {
  color: #0e594f !important;
  background-color: #60ca9e !important;
  border-color: #60ca9e !important;
}

.bg-revo-linear {
  background: linear-gradient(to top, #38c2ab, #bae571) !important;
}

.bg-revo {
  background-color: #72cbae !important;
}

.h-35 {
  height: 35% !important;
}

.bg-revo-light {
  background-color: #dff0ea !important;
}